<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122793271602-aj3haqur7si277ukav9l5chf5hb7gtn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122793271602-aj3haqur7si277ukav9l5chf5hb7gtn7</string>
	<key>API_KEY</key>
	<string>AIzaSyBSbBn6nBVbMwhHMJPglVFORRU1C8uv2lg</string>
	<key>GCM_SENDER_ID</key>
	<string>122793271602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Notes-App</string>
	<key>PROJECT_ID</key>
	<string>memo-pane</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-pane.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122793271602:ios:a06c2f58288fe84517f72b</string>
	<key>DATABASE_URL</key>
	<string>https://memo-pane.firebaseio.com</string>
</dict>
</plist>